html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header {
	height: 100px;
}
.nav {
	list-style-type: none;
	background-color: #fff;
	float: right;
	display: block;
}
.nav li{
	display:inline;
	float: left;
	padding: 5px 5px 5px 5px;
	font-family: arial. sans-serif;
}
.apps {
	background: url(https://raw.githubusercontent.com/n8sb/odin-project/master/google-homepage/style/../images/sprite.png);
	background-position: -72px -857px;
	position: absolute;
	width: 25px;
	height: 25px;
	padding: 5px 5px 5px 5px;
}
}
.logo {
	margin: 0 0 20px 0;
	clear: both;
}
.logo img {
	display: block;
	margin: 0 auto;
	height: 92px;
	width: 272px;
}
.search-box {
	margin: 0 0 20px 0;
}
.search-box input[type='text']{
	font-size: 16px;
	display: block;
	margin: 0 auto;
	padding: 10px 10px;
	width: 557px;
}
.button {
	margin: 0 auto;
	width: 557px;
	text-align: center;
}
.button input {
	background-color: #F3F3F3;
	border: 1px solid #F3F3F3;
	font-size: 11px;
	font-weight: bold;
	line-height: 25px;
}
